* {
  box-sizing: border-box;
}
div > div {
  width: 33.3333%;
  height: 14vw;
  border: 1px solid gray;
  text-align: center;
  font-size: 10vw;
}
.playAgain {
  font-size: 1vw;
  margin:  200px auto;
}
h1 {
  text-align: center;
}